*{
    margin: 0;
    padding: 0;
}
body{
    color:white;
    margin: 0;
    padding: 0;
    background: url(images/pexels-cottonbro-4753892.jpg);
    background-size: cover;
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Open Sans', sans-serif;
}

.left{   
    /* border: 2px solid red; */
    top: 12px;
    left:34px;
    position:absolute;
}
.left img{
    width: 79px;
    filter:invert(200%);
}
.logoname{
    text-align: center;
    font-size: 12px;
}   

.mid{
    display:block;
    /* border: 2px solid red; */
    width:40%;
    margin: 45px auto;
    /* position: relative; */
    padding-top: 39px;
}
.right{   
    position:absolute;
    right:34px;
    top:20px;   
    /* display:inline-block; */
    margin-top: 25px;
    margin-: -20px;
    /* border:2px solid red; */
}
.logos{
    width:12px;
}
.navbar li{
    display:inline-block;
    
}
.navbar li a{
padding:34px 27px;
text-decoration: none;
color:whitesmoke;

}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color:grey;
}
.header{
    background:rgba(0,0,0,0.6) ;
    height: 100px;
    margin-top: -45px;
}
.quote{
    text-align:left;
    margin-top: 218px;
margin-left: 255px;
    font-size: 30px;
    display:inline-block;
    width: 237px;
    color:white;
    text-decoration: solid;
}